<div class="container-fluid">
  <div class="row mt-5">
    <div class="col">
      <div class="col-4">
        <div class="card shadow">
          <div class="card-body">
            <form>
              <div class="mb-3">
                <h4 class="text-dark text-muted">Witaj</h4>
              </div>
              <div class="mb-3">
                <p>Link został wysłany na twój email.</p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
