.app-homepage {
  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 20px rgba($color: #0f2277, $alpha: 1);
    background-color: black;
    color: white;
    font-size: 24px;
    letter-spacing: 1px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    margin-bottom: 15px;
  }
}
